{% extends 'reviews/base.html' %}

{% block Title %} {{title}} {% endblock Title %}

{% block Content %}

<div class="top-wrapper">
    <div class="wrapper">
        <div>
            <form method="POST" class="form-control">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group mb-3 mt-3 {% if form.field.errors %} error {% endif %} ">
                    {{field.label_tag }}
                    {{field }}
                    {{field.errors }}
                </div>
                {% endfor %}

                <div class="form-group mb-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock Content %}