{% extends 'reviews/base.html' %}

{% block Title %} {{title}} {% endblock Title %}

{% block Content %}
<div class="top-wrapper">
    <div class="wrapper">
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control {% if has_error %} is-invalid {% endif %}" id="username"
                        name="username">
                    {% if has_error %}
                    <div class="invalid-feedback">Isi nama anda!</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="review" class="form-label">Review</label>
                    <textarea type="text" class="form-control" id="review" rows="3" name="review"> </textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock Content %}